* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
}

.hero {
    text-align: center;
    position: relative;
    justify-content: center;
    min-height: 100vh;
    background-color: #0a0a14;
}

.background-image {
    background-image: url(img/Terminator_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.hero-content-area {
    display: flex;
}

.hero h1 {
    display: flex;
    font-size: 7rem;
    font-weight: 300;
}



.hero h2 {
    display: flex;
    color: #fff;
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 10px;
}

.hero h3 {
    display: flex;
    color: #fff;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 7px;
    opacity: 0;
    animation: moveInRight 2s ease-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.hero h4 {
    display: flex;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
}

.hero span {
    color: rgb(255,0,0);
}

    .hero span:nth-child(1) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both;
    }

    .hero span:nth-child(2) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both;
    }

    .hero span:nth-child(3) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .4s both;
    }

    .hero span:nth-child(4) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .6s both;
    }

    .hero span:nth-child(5) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .8s both;
    }

    .hero span:nth-child(6) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both;
    }

    .hero span:nth-child(7) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.2s both;
    }

    .hero span:nth-child(8) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.4s both;
    }

    .hero span:nth-child(9) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.6s both;
    }

    .hero span:nth-child(10) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.8s both;
    }

    .hero span:nth-child(11) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2s both;
    }

    @keyframes moveInRight{
        0% {
            opacity: 0;
            transform: translateX(10rem); }
          80% {
            transform: translateX(-1rem); }
          100% {
            opacity: 1;
            transform: translate(0); } 
    }
    

@keyframes flipUp {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

select,
input {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    width: 250px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 5px;
    border: 2px solid rgb(255,0,0);
    border-radius: 15px;
}

.label-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
}

.btn {
    color: #fff;
    background-color: rgb(255,0,0);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 250px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 5px;
    border: 2px solid #fff;
    border-radius: 15px;
}

.btn:hover {
    color: #fff;
    background-color: #000;
    border: 2px solid rgb(255,0,0);
    border-radius: 16px;
}
