@media (max-width: 940px) {
    .hero h1 {
        margin-top: 20px;
        font-size: 6rem;
    }

    .hero h2 {
        font-size: 6rem;
    }

    .hero h3 {
        font-size: 5rem;
    }

    select,
    input {
        font-size: 17px;
        width: 200px;
        height: 40px;
        margin-right: 5px;
        margin-left: 5px;
        padding-left: 3px;
        border-radius: 10px;
    }

    .label-box {
        width: 200px;
        height: 40px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 5px;
    }

    .btn {
        font-size: 17px;
        width: 200px;
        height: 40px;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 5px;
        border-radius: 10px;
    }
}

@media (max-width: 800px) {
    .hero h1 {
        font-size: 5rem;
        font-weight: 300;
    }

    .hero h2 {
        font-size: 4rem;
        font-weight: 200;
    }

    .hero h3 {
        font-size: 30px;
    }

    .hero h4 {
        font-size: 14px;
    }

    @media (max-width: 500px) {
        .hero h1 {
            margin-top: 25px;
            font-size: 3rem;
            font-weight: 300;
        }

        .hero h2 {
            font-size: 3rem;
        }

        .hero h3 {
            font-size: 20px;
        }

        .hero h4 {
            font-size: 13px;
            margin-bottom: auto;
        }

        .container {
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 10px;
        }

        select,
        input {
            font-size: 14px;
            width: 170px;
            height: 27px;
            margin-right: 5px;
            margin-left: 5px;
            padding-left: 3px;
            border: 1px solid rgb(255,0,0);
            border-radius: 5px;
        }

        .label-box {
            width: 170px;
            height: 40px;
            margin-right: 5px;
            margin-left: 5px;
            padding: 0;
        }

        .btn {
            font-size: 14px;
            width: 170px;
            height: 27px;
        }
    }
